
body {
  background-color: white;
  font-family: 'Roboto Condensed', sans-serif;
  color: black;
  text-align: center;
  font-size: 1em;
}

h2 {
  font-family: 'Fjalla One', sans-serif;
  color: red;
}

.container {
  margin: 60px;
  float: center;
}
